/* Layout */
.sharing ul li {
	display: inline-block;
}

.sharing .network_label,
.sharing .s-icon {
	display: table-cell;
	vertical-align: middle;
	height: 1.5em;
	float:left;
	margin-right: .5em;
}

.sharing a {
	text-decoration: none;
}

.sharing a:hover,
.sharing a:focus,
.sharing a:active,
.sharing a:visited {
	background-color: transparent;
}

.sharing.only-icons .network_label {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

/*------------------------------------*\
    SVG Sprite Icons
\*------------------------------------*/
.s-icon {
	fill: currentColor;
	width: 1em;
	height: 1em;
}
