/* Layout */
.sharing ul li {
	display: inline-block;
}

.sharing .network_label,
.sharing .s-icon {
	display: table-cell;
	vertical-align: middle;
	height: 1.5em;
	float:left;
}
.sharing .network_label{
	margin-right: .8em;
}
.sharing .socialshare a {
	color: black;
	text-decoration: none;
}

.sharing .socialshare a:hover,
.sharing .socialshare a:link,
.sharing .socialshare a:focus,
.sharing .socialshare a:active,
.sharing .socialshare a:visited {
	color: black;
	background-color: transparent;
}

.sharing.only-icons .network_label,
.sharing.fixed-left .network_label {
	position: absolute;
	top: -9999px;
	left: -9999px;
	transition: left .5s ease-in-out;
}

.sharing.fixed-left {
	position: fixed;
	top:35%;
	left:0;
}
.sharing.fixed-left .socialshare {
	display: flex;
	flex-direction:column;
}
.sharing.fixed-left .socialshare li {
	padding: .25em;
}

.sharing.fixed-left .s-icon{
	height: 2rem;
}
.sharing.fixed-left .socialshare li:hover .network_label {
	position: relative;
	top:0;
	left:0;
}
.sharing.fixed-left .socialshare .network_label {
	margin-left: .5em;
	margin-right: 0;
}
